<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container">
      <div>
        <a class="navbar-brand d-flex align-items-center me-0" style="margin: 0" href="#">
          <div class="logo-container position-relative me-2">
            <div class="logo-circle purple position-absolute"></div>
            <div class="logo-circle pink position-absolute"></div>
          </div>
          <span class="brand-text text-primary fw-bold">SupportMe</span>
        </a>
      </div>

      
      <button class="navbar-toggler-custom" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
        <svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M3 5H21" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 12H21" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 19H21" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ms-3">

          <li class="nav-item">
            <a class="nav-link" href="#">Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Como funciona</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Preguntas frecuentes</a>
          </li>
        </ul>
        
        <div class="d-flex align-items-center ms-auto login-buttons">
          <button class="btn btn-primary" routerLink="/login">Iniciar sesion</button>
          <button class="btn btn-primary">Crear cuenta</button>
        </div>
      </div>
    </div>
  </nav>