@if(isMpConfigured !== undefined && !isMpConfigured){
    <app-info-card
    [title]="'Mercado Pago'"
    [message]="'Debes configurar tus credenciales de Mercado Pago antes de poder generar tus campañas'"
    [type]="'warning'"
    routerLink = '/setup/mercadopago'>
  </app-info-card>
}


<div class="campaign-page"> 
    <app-header-form
    title="Mis campañas"
    searchPlaceholder="Buscar campañas"
    [showDateRange]="false"
    [disabledButton]="!isMpConfigured"
    (search)="onSearch($event)"
    (filterChange)="onFilterChange($event)"
    (export)="onExport()">
</app-header-form>
    <div class="campaign-list">
        @if (isLoading && campaigns.length === 0) {
            <div class="loading-container">
                <p>Cargando campañas...</p>
            </div>
        }
        
        @if (campaigns.length === 0 && !isLoading) {
            <div class="no-results">
                <p>No se encontraron campañas{{ searchText ? ' para "' + searchText + '"' : '' }}</p>
            </div>
        }
        
        <div class="campaign-container">
            @for (campaign of campaigns; track campaign.id) {
                <app-card-campaign [campaign]="campaign"></app-card-campaign>
            }
        </div>
        
        @if (isLoading && campaigns.length > 0) {
            <div class="scroll-loader">
                <p>Cargando más campañas...</p>
            </div>
        }
        
        <!-- Elemento centinela para la detección de IntersectionObserver -->
        <div #scrollSentinel class="scroll-sentinel"></div>
    </div>
</div>