<div> 
    <app-header-form></app-header-form>
    <div class="campaign-container">
        <app-card-campaign class="campaing-card "></app-card-campaign>    
        <app-card-campaign class="campaing-card "></app-card-campaign>    
        <app-card-campaign class="campaing-card "></app-card-campaign>    
        <app-card-campaign class="campaing-card "></app-card-campaign>    
        <app-card-campaign class="campaing-card "></app-card-campaign>    
        <app-card-campaign class="campaing-card "></app-card-campaign>    
        <app-card-campaign class="campaing-card "></app-card-campaign>    
        <app-card-campaign class="campaing-card "></app-card-campaign>    
        <app-card-campaign class="campaing-card "></app-card-campaign>    
        <app-card-campaign class="campaing-card "></app-card-campaign>    
        <app-card-campaign class="campaing-card "></app-card-campaign>    
        <app-card-campaign class="campaing-card "></app-card-campaign>    
        <app-card-campaign class="campaing-card "></app-card-campaign>    
        <app-card-campaign class="campaing-card "></app-card-campaign>    
        <app-card-campaign class="campaing-card "></app-card-campaign>    

    </div>
</div>
