<!-- payments.component.html -->
<div class="payments-container">
  <header class="header">
    <h1 class="title">Pagos</h1>
    <div class="date-range">
      <app-calendar 
        (dateRangeChanged)="onDateRangeChange($event)">
      </app-calendar>
    </div>  
  </header>

  <div class="stats-cards-container">
    <div class="stats-card total" 
         (mouseenter)="totalHovered = true" 
         (mouseleave)="totalHovered = false"
         (click)="filterByStatus('ALL')"
         [ngClass]="{'active-filter': activeStatusFilter === 'ALL' || activeStatusFilter === null}"
         [ngStyle]="(activeStatusFilter === 'ALL' || activeStatusFilter === null) ? activeCardStyles : {}">
      <div class="card-content">
        <div class="card-title-row">
          <h3 class="card-title" [ngClass]="{'title-hover': totalHovered}">Total</h3>
          <div class="card-icon">
            <i class="fa fa-chart-line" [ngClass]="{'icon-hover': totalHovered}"></i>
          </div>
        </div>
        <div class="card-value" [ngClass]="{'value-hover': totalHovered}">{{ totalPayments }}</div>
      </div>
    </div>
    
    <!-- Tarjeta Exitosos -->
    <div class="stats-card success" 
         (mouseenter)="successHovered = true" 
         (mouseleave)="successHovered = false"
         (click)="filterByStatus('OK')"
         [ngClass]="{'active-filter': activeStatusFilter === 'OK'}"
         [ngStyle]="activeStatusFilter === 'OK' ? activeCardStyles : {}">
      <div class="card-content">
        <div class="card-title-row">
          <h3 class="card-title" [ngClass]="{'title-hover': successHovered}">OK</h3>
          <div class="card-icon">
            <i class="fa fa-check-circle" [ngClass]="{'icon-hover': successHovered}"></i>
          </div>
        </div>
        <div class="card-value" [ngClass]="{'value-hover': successHovered}">{{ successfulPayments }}</div>
      </div>
    </div>
    
    <!-- Tarjeta Error -->
    <div class="stats-card error" 
         (mouseenter)="errorHovered = true" 
         (mouseleave)="errorHovered = false"
         (click)="filterByStatus('ERROR')"
         [ngClass]="{'active-filter': activeStatusFilter === 'ERROR'}"
         [ngStyle]="activeStatusFilter === 'ERROR' ? activeCardStyles : {}">
      <div class="card-content">
        <div class="card-title-row">
          <h3 class="card-title" [ngClass]="{'title-hover': errorHovered}">Error</h3>
          <div class="card-icon">
            <i class="fa fa-times-circle" [ngClass]="{'icon-hover': errorHovered}"></i>
          </div>
        </div>
        <div class="card-value" [ngClass]="{'value-hover': errorHovered}">{{ errorPayments }}</div>
      </div>
    </div>
    
    <!-- Tarjeta Reembolsado -->
    <div class="stats-card refund" 
         (mouseenter)="refundHovered = true" 
         (mouseleave)="refundHovered = false"
         (click)="filterByStatus('REFUNDED')"
         [ngClass]="{'active-filter': activeStatusFilter === 'REFUNDED'}"
         [ngStyle]="activeStatusFilter === 'REFUNDED' ? activeCardStyles : {}">
      <div class="card-content">
        <div class="card-title-row">
          <h3 class="card-title" [ngClass]="{'title-hover': refundHovered}">Reembolsado</h3>
          <div class="card-icon">
            <i class="fa fa-undo" [ngClass]="{'icon-hover': refundHovered}"></i>
          </div>
        </div>
        <div class="card-value" [ngClass]="{'value-hover': refundHovered}">{{ refundedPayments }}</div>
      </div>
    </div>
  </div>

  <div class="filters-section">
    <div style="display: flex; gap: 25px">
      <div class="search-container">
        <i class="fa fa-search"></i>
        <input 
          type="text" 
          placeholder="Buscar" 
          class="search-input" 
          [(ngModel)]="searchText" 
          (input)="onSearch($event)" 
          autocomplete="off"
        />
      </div>
        
      <div class="filter-tags">
        @for (filter of filters; track filter.name; let i = $index) {
          <div class="filter-dropdown-container">
            <button class="filter-tag" (click)="toggleFilterDropdown(i)">
              <div class="icon-container">
                <i class="fa fa-plus"></i>
              </div>
              <p>{{ filter.name }}</p>
              @if (hasActiveOptions(i)) {
                <span class="separator">|</span>
                <p class="option-selected">{{ getSelectedOptions(i) }}</p>
              }
            </button>
            
            <!-- Dropdown de filtros -->
            <div class="filter-dropdown" *ngIf="openFilterIndex === i">
              <div class="dropdown-header">
                <h4>Seleccionar opciones:</h4>
              </div>
              <div class="dropdown-body">
                @for (option of filters[i].options; track option.value; let j = $index) {
                  <div class="filter-option">
                    <label class="checkbox-container">
                      <input 
                        type="checkbox" 
                        [checked]="option.isActive" 
                        (change)="toggleOptionInDropdown(i, j)"
                      >
                      <span class="checkmark"></span>
                      <span class="option-label">{{ option.label }}</span>
                    </label>
                  </div>
                }
              </div>
              <div class="dropdown-footer">
                <button class="cancel-button" (click)="closeFilterDropdown()">Borrar</button>
                <button class="apply-button" (click)="applyFiltersFromDropdown()">Aplicar</button>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
    
    <button class="download-button" [disabled]="totalPayments === 0">Descargar</button>
  </div>
  @if (!isLoading) {
    <table class="payments-table">
      <thead>
        <tr>
          <th>Importe <i class="fa fa-sort"></i></th>
          <th>Estado <i class="fa fa-sort"></i></th>
          <th>Método de pago</th>
          <th>Campaña<i class="fa fa-sort"></i></th>
          <th>Cliente <i class="fa fa-sort"></i></th>
          <th>Fecha de transacción <i class="fa fa-sort"></i></th>
        </tr>
      </thead>
      <tbody>
        @for (payment of payments; track payment.chargeId) {
          <tr  routerLink="/payments/detail" [queryParams]="{id: payment.chargeId}" style="cursor:pointer;">
            <td>$ {{ formatCurrency(payment.amount) }} ARS</td>
            <td>
              <span class="status-badge" [ngClass]="payment.status.toLowerCase()">{{ payment.status }}</span>
            </td>
            <td>
              <span class="card-brand {{ payment.brand }}"></span>
              •••• {{ payment.last4 }}
            </td>
            <td style="display: flex; align-items: center; gap: 10px;">
              <img src="{{ payment.campaign.logoUrl }}" alt="Imagen de campaña"
                   style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover;">
              <span>{{ payment.campaign.name }}</span>
            </td>
            <td>{{ payment.customerName }}</td>
            <td>{{ payment.paymentDate | dateParser | date:'dd MMM, yyyy, h:mm a' }}</td>
          </tr>
        }
        @if (payments.length === 0) {
          <tr>
            <td colspan="7" class="no-results">No se encontraron resultados</td>
          </tr>
        }
      </tbody>
    </table>
 

  <div class="pagination">
    <div class="showing-info">
      Mostrando {{ (payments.length > 0) ? (currentPage - 1) * pageSize + 1 : 0 }} al {{ currentPage * pageSize > totalItems ? totalItems : currentPage * pageSize }} de {{ totalItems }} resultados
    </div>
    <div style="display: flex; gap: 15px">
      <div class="page-size-selector">
        <span>Filas por página</span>
        <select [(ngModel)]="pageSize" (change)="onPageSizeChange()">
          <option [value]="10">10</option>
          <option [value]="15">15</option>
          <option [value]="20">20</option>
          <option [value]="50">50</option>
        </select>
      </div>
      
      <div class="page-controls">
        <button (click)="goToFirstPage()" [disabled]="currentPage === 1" title="Primera página">
          <i class="fa fa-angle-double-left"></i>
        </button>
        <button (click)="goToPreviousPage()" [disabled]="currentPage === 1" title="Página anterior">
          <i class="fa fa-angle-left"></i>
        </button>
        <button (click)="goToNextPage()" [disabled]="currentPage * pageSize >= totalItems" title="Página siguiente">
          <i class="fa fa-angle-right"></i>
        </button>
        <button (click)="goToLastPage()" [disabled]="currentPage * pageSize >= totalItems" title="Última página">
          <i class="fa fa-angle-double-right"></i>
        </button>
      </div>
    </div>
  </div>
} @else {
  <div class="table-loading-container">
    <app-inline-loading-spinner [isLoading]="isLoading"></app-inline-loading-spinner>
  </div>
}
</div>