<div class="container-custom">
  <div class="img-login">
    <img src="https://supportme.site:9000/supporme/campaigns/assets/6ac5a19c-06c4-406e-b643-97af9a8b3437.jpg">
  </div>

  <div class="login-container">
    <div class="login-card">
      @if (error) {
        <div class="error-message">
          <h1 class="title">Link de recuperación de contraseña expirado.</h1>
          <p class="error-text">{{ errorMessage }}</p>
          <button class="btn-continue" (click)="navigateToLogin()">Ir a inicio de sesión</button>
        </div>
      } @else if (success) {
        <div class="success-message">
          <h1 class="title">¡Contraseña actualizada!</h1>
          <p class="subtitle">Tu contraseña ha sido cambiada correctamente.</p>
          <p class="subtitle">Serás redirigido a la página de inicio de sesión en breve...</p>
          <button class="btn-continue" (click)="navigateToLogin()">Iniciar sesión</button>
        </div>
      } @else if (userData) {
        <h1 class="title">Recuperar contraseña</h1>
        <p class="subtitle">Hola {{userData.firstName}} {{userData.lastName}}, ingresa tu nueva contraseña</p>
        
        <form class="login-form" [formGroup]="form" (submit)="onSubmit()">
          <div class="input-group">
            <span class="input-icon">
              <i class="fas fa-lock"></i>
            </span>
            <input [type]="showPassword ? 'text' : 'password'" placeholder="Nueva contraseña" formControlName="password">
            <button type="button" class="password-toggle" (click)="togglePasswordVisibility()">
              <i class="far" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
            </button>
          </div>
          @if(form.get('password')?.errors?.['required'] && form.get('password')?.touched){
            <span class="text-danger">La contraseña es requerida</span>
          }
          @if(form.get('password')?.errors?.['minlength'] && form.get('password')?.touched){
            <span class="text-danger">La contraseña debe tener al menos 6 caracteres</span>
          }
          
          <div class="input-group">
            <span class="input-icon">
              <i class="fas fa-lock"></i>
            </span>
            <input [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Confirmar contraseña" formControlName="confirmPassword">
            <button type="button" class="password-toggle" (click)="toggleConfirmPasswordVisibility()">
              <i class="far" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
            </button>
          </div>
          @if(form.get('confirmPassword')?.errors?.['required'] && form.get('confirmPassword')?.touched){
            <span class="text-danger">La confirmación de contraseña es requerida</span>
          }
          @if(form.get('confirmPassword')?.errors?.['notMatch'] && form.get('confirmPassword')?.touched){
            <span class="text-danger">Las contraseñas no coinciden</span>
          }
          
          <button type="submit" class="btn-continue" [disabled]="form.invalid">Cambiar contraseña</button>
          <div class="sign-up">
            <p>¿Ya tienes tu contraseña? <a routerLink="/login">Iniciar sesión</a></p>
          </div>
        </form>
      } @else {
        <div class="loading-placeholder">
          <h1 class="title">Cargando información...</h1>
          <p class="subtitle">Por favor espere mientras verificamos su solicitud</p>
        </div>
      }
    </div>
  </div>
</div>

<app-loading-snipper [isLoading]="isLoading"></app-loading-snipper>