<div class="dashboard-container">
  <!-- Nuevo filtro de fecha global -->
  <div class="date-filter-container">
    <div class="date-filter-card">
      <div class="filter-header">
        <div class="filter-title">Filtros</div>
          <app-calendar 
          (dateRangeChanged)="onDateRangeChange($event)">
          </app-calendar>
        </div>
    </div>
  </div>

  <app-kpi-cards [kpiData]="filteredKpiData"></app-kpi-cards>
  <app-campaign-details 
    [campaigns]="filteredCampaigns" 
    [selectedCampaign]="selectedCampaign"
    (campaignChanged)="onCampaignChange($event)">
  </app-campaign-details>
  <app-charts 
    [donationsData]="donationsChartData" 
    [visitsData]="visitsChartData">
  </app-charts>
  <app-categories-chart [categories]="filteredCategories"></app-categories-chart>
</div>