<div>
  <section class="hero-section py-5">
    <div class="container">
      <div class="donation-section">
        <div class="col-lg-5">
          <div class="hero-text-container mb-4">
            <h1 class="fw-bold mb-0 text-dark">Haz cambios y <br>ayuda al mundo</h1>
            <div class="title-border"></div>
          </div>
          <p class="text-muted mb-4">
             SupportMe es una plataforma que conecta a creadores de proyectos con personas dispuestas a apoyar económicamente sus causas, permitiendo recibir donaciones de manera transparente y segura.</p>
          <div class="hero-buttons donation-button-container">
            <button class="btn btn-primary me-3 px-4 py-2 rounded-pill" routerLink="/projects">Donar ahora!</button>
            <button class="btn btn-outline-secondary px-4 py-2 rounded-pill" routerLink="/how-works">Más información</button>
          </div>
        </div>
          <img src="https://supporme-fede.s3.sa-east-1.amazonaws.com/Selection+(1).png" class="img-fluid">
        </div>
      </div>
</section>
<section class="container category">
    <app-category-navigation></app-category-navigation>
</section>
</div>
